.nopadding {
    padding: 0 !important;
}

.breadcrumb {
    background-color: transparent;
    font-size: 18px;
    color: #767676;
}

.divider-vertical {
    display: inline-block;
    width: 1px;
    height: 18px;
    margin-right: 8px;
    margin-left: 8px;
    vertical-align: middle;
    background-color: #ddd;
}

.glyphicon-btn {
    display: inline-block;
    margin-left: 5px;
    padding: 5px;
    line-height: 1;
    color: #767676;
    vertical-align: middle;
    background: transparent;
    border: 0;
    outline: none;
}

.modal-dialog-lg {
    width: 1000px;
}

.panel-heading {
    height: 50px;
    line-height: 30px;
}

.form-control, .form-select {
    min-height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
}

.form-select {
    display: inline-block;
    max-width: 100%;
    height: 34px;
    padding-right: 24px;
    padding-right: 8px \9;
    background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC") no-repeat right 8px center;
    background-image: none \9;
    background-size: 8px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.commits-listing {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.commits-listing::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 14px;
    z-index: -1;
    display: block;
    width: 2px;
    content: "";
    background-color: #eff1f3;
}

.commits-listing-padded {
    padding-left: 39px;
}

.commit-group-title {
    margin-top: 15px;
    margin-left: -31px;
    color: #586069;
}

.octicon {
    display: inline-block;
    vertical-align: text-bottom;
    fill: currentcolor;
}

.commit-group-title .octicon-git-commit {
    margin-right: 17px;
    color: #c6cbd1;
    background: #fff;
}

.commit-group {
    margin-top: 10px;
    list-style-type: none;
}

.icon-error {
    font-size: 32px !important;
    font-family: 'aliyun-console-font' !important;
    line-height: 1;
}

.icon-error::before {
    content: "\e642";
}

td.icon {
    width: 40px;
    padding-right: 10px;
    padding-left: 10px;
    color: #767676;
}

td.icon .glyphicon-folder-open {
    color: #80a6cd;
}

td.icon .icon-file {
    color: #80a6cd;
}

td.icon .glyphicon-list-alt {
    color: gray;
}

td.author {
    min-width: 60px;
}

td.status {
    min-width: 100px;
}

td.time {
    color: #888;
    min-width: 100px;
}

td.id {
    min-width: 80px;
}

td.name {
    min-width: 80px;
}

td.action {
    min-width: 170px;
}