<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:configx="http://www.configx.com/schema/configx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.configx.com/schema/configx
       http://www.configx.com/schema/configx/configx.xsd">

    <!-- 开启配置管理对message source的支持 -->
    <configx:message-source fallbackToSystemLocale="false" basenames="messages"/>

    <bean name="messageSourceExample" class="com.configx.demo.message.MessageSourceExample"/>

</beans>